/*select element by name(element name)*/
h1{
    color: darkblue;
}
/*select element by id*/
#header2{
    color: aquamarine;
}
#header4{
    color: slateblue;
}

/*select element by class name*/
.content{
    background: brown;
}

h1, #header2{
    font-weight: lighter;
}

.hTag{
    background: lightblue;
}

/*#container{*/
/*    background: purple;*/
/*}*/

#container>h1{
    background: purple;
}

h1.content{
    color: blue;
}
h2.content{
    color: greenyellow;
}
a:link{
    color: red;
}